@media only screen and (max-width: 750px) {
  header {
    margin: 20px 20px 0 20px;
    display: block;
    width: 100%;
  }
  .fr {
    font-size: 10px;
    width: 120px;
  }
  header ul {
    margin: 10px -170px;
  }
}
