@media only screen and (max-width: 750px) {
  header {
    margin: 20px 20px 0 20px;
    display: block;
    width: 100%;
  }
  .fr {
    font-size: 10px;
    width: 120px;
  }
  header ul {
    margin: 10px -170px;
  }
}

@media only screen and (max-width: 600px) {
  .side-bar.active .toggle-sidebar{
    left: 450px;
  }
  .side-bar {
    left: -60px;
  }
  .side-bar.active {
    left: 0;
    width: 90%;
  }
  .back-sidebar.active {
    z-index: 10000;
  }
  .options-side-bar .option-text-sidebar,  .side-bar.active .options-side-bar .option-text-sidebar{
    opacity: 1;
  }
  .options-side-bar, .side-bar.active .options-side-bar {
    width: 90%;
    margin: 10px 10px 0 10px;
  }
  .generatePassSection {
    width: 280px;
    margin-right: 10px;
  }
  .header-section .title-page {
    font-size: 20px;
  }
  .generatePassSection .description {
    font-size: 12px;
  }
  .container-settings-pass .btn-setting-mode {
    font-size: 10px;
  }
}
